* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    animation: bg-fall 1s ease-in-out 3.5s normal both;

    @keyframes bg-fall {
      from {
        top: -100%;
      }
      to {
        top: 0;
      }
    }
  }
}

.wrapper {
  position: relative;
  max-width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin stroke($stroke-length: 500) {
  stroke-dashoffset: $stroke-length;
  stroke-dasharray: $stroke-length;
  animation: stroke-#{$stroke-length} 0.5s ease-in-out normal both;
  @keyframes stroke-#{$stroke-length} {
    from {
      stroke-dashoffset: $stroke-length;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
}

svg {
  &:nth-of-type(1) {
    max-width: 97.5%;
    path {
      stroke: black;
      @include stroke;
      &:nth-of-type(1) {
        @include stroke(370);
      }
      &:nth-of-type(2) {
        @include stroke(880);
        animation-delay: 0.4s;
      }
      &:nth-of-type(3) {
        @include stroke(290);
        animation-delay: 0.8s;
      }
      &:nth-of-type(4) {
        @include stroke(270);
        animation-delay: 1.2s;
      }
      &:nth-of-type(5) {
        @include stroke(50);
        animation-duration: 0.25s;
        animation-delay: 1.6s;
      }
      &:nth-of-type(6) {
        @include stroke(75);
        animation-duration: 0.25s;
        animation-delay: 1.8s;
      }
      &:nth-of-type(7) {
        @include stroke(75);
        animation-duration: 0.25s;
        animation-delay: 2s;
      }
      &:nth-of-type(8) {
        @include stroke(70);
        animation-duration: 0.25s;
        animation-delay: 2.2s;
      }
      &:nth-of-type(9) {
        @include stroke(50);
        animation-duration: 0.25s;
        animation-delay: 2.4s;
      }
      &:nth-of-type(10) {
        @include stroke(90);
        animation-duration: 0.25s;
        animation-delay: 2.6s;
      }
      &:nth-of-type(11) {
        @include stroke(160);
        animation-duration: 0.25s;
        animation-delay: 2.8s;
      }
      &:nth-of-type(12) {
        @include stroke(90);
        animation-duration: 0.25s;
        animation-delay: 3s;
      }
      &:nth-of-type(13) {
        @include stroke(140);
        animation-duration: 0.25s;
        animation-delay: 3.2s;
      }
    }
  }
  &:nth-of-type(2) {
    max-width: 97.5%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: opacity0-1 1s ease-in-out 3.5s normal both;
    z-index: 3;
    @keyframes opacity0-1 {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
  &:nth-of-type(3) {
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    filter: blur(4px);
    animation: opacity0-1 1s ease-in-out 3.5s normal both;
    z-index: 2;
  }
}
